.Artisan__container {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    width: 100%;
}
.Artisan__card {
    color: rgb(59, 57, 57);
    width: 32%;
    margin: 1% auto;
}
.Artisan__card img{max-height: 10rem;}

.Artisan__card .Artisan__Overlay {
    display: none;
}

.Artisan__card:hover .Artisan__Overlay {
    display: block;
}
.Artisan__Overlay{
    background: linear-gradient(rgb(44, 43, 44), #1f1f1e);
    background: rgba(44, 43, 44, 0.787);
    color: gold;
    text-align: justify;
    overflow: hidden;
    padding: auto;
}

.Artisan__Overlay Button {
    text-align: center;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 2px;
    /* left: auto; */
}